.horizontal-callout-card .callout {
  position: relative;
  border: 1px solid #cacaca; }
  .horizontal-callout-card .first-section p,
  .horizontal-callout-card .last-section p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
    .horizontal-callout-card .first-section {
      border-bottom: 0; }
      .horizontal-callout-card .last-section {
        border-top: 0; }
        @media only screen and (max-width: 640px) {
          .horizontal-callout-card .callout {
            margin-bottom: 0; }
            .horizontal-callout-card .first-section {
              border-right: none; }
              .horizontal-callout-card .last-section {
                border-left: none; } }
