.header {
  background-size: cover;
  background-color: #e7edde;
  position: relative;
  overflow: visible;
  padding-top: 2.5rem;
  padding-bottom: 4.9rem; }
  .header .headlines {
    text-align: center;
    color: #000000; }
  .header .underlines {
    text-align: left;
    color: #000000
  }

  [data-sticky] {
    width: 100%; }

    .top-bar {
      padding: 2rem;
      transition: padding .25s ease; }

      .is-stuck .top-bar {
        padding: 1rem;
        transition: padding .25s ease; }
