
#tt {
  background-color: black;
  color: grey;
  font-family: Arial,sans-serif;
  font-size: 75px;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 0px;
  padding: 20px;
  text-align: center;
}
