
h2{
  font-family: Arial;
  font-size: 85px;

}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: ;
  color: black;
}

a:active {
  text-decoration: ;
  color: black;
}

#lf{
  text-align: left;
}

#rt{
  text-align: right;
}
